body { padding-top: 70px; }
ng-view {
    display: block;
    position: absolute;
}

#chatbox {
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

.calendar-container {
    display: block;
    position: relative;
}

/** setup **/
.update-page-form {
    border: 1px solid #d3d3d3;
    border-top: none;
    padding: 0px 10px 10px;
}

.site-view.ng-enter {
    -webkit-animation: bounceInDown 1s ease-in;
    animation: bounceInDown 1s ease-in;
}

.site-view.ng-leave {
    -webkit-animation: bounceOutDown .1s linear;
    animation: bounceOutDown .1s linear;
}

.photo-container img {
    margin: 0 auto;
}

#send-btn {
    cursor: hand;
    cursor: pointer;
}