<p ng-hide="currentUser" class="text-warning">
    Please log in.
</p>

<div class="feed container" ng-show="currentUser">
    <div class="page-header">
        <h2 message-label data-ng-json='{"alias" : "announcements"}' data-ng-bind="default-pages.title">Class Announcements</h2>

    </div>
    <p message-label ng-show="currentUser" data-ng-json='{"alias" : "announcements"}' data-ng-bind="default-pages.content">
        [Welcome! Write a message about your site.]
    </p>

    <form role="form" ng-show="postable" >
        <!--<textarea id="blogger" class="input-xxlarge" placeholder="What's up?" ng-model="newPost"></textarea>-->
        <div class="form-group">
            <textarea ui-tinymce="tinymceOptions" ng-model="newPost"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="submit(newPost)">Post</button>
        </div>
    </form>
    <ng-include src="'partials/feed.html'"></ng-include>
</div>
