<p ng-hide="currentUser" class="text-warning">
    Please log in.
</p>
<div class="calendar-container container" ng-show="currentUser">
    <!--<div ui-calendar="calendarOptions" ng-model="eventSources" ></div>-->
        <div class="page-header">
            <h1 message-label data-ng-json='{"alias" : "calendar"}' data-ng-bind="default-pages.title">Calendar</h1>
        </div>
        <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
            <h4>{{alertMessage}}</h4>
        </div>
        <div class="btn-toolbar">
            <div delegate="handleIndicator" delegate-event="click" delegate-selector="button" class="btn-group">
                <button class="btn btn-success" ng-click="changeView('agendaDay', siteCalendar)">Day</button>
                <button class="btn btn-success" ng-click="changeView('agendaWeek', siteCalendar)">Week</button>
                <button class="btn btn-success active" ng-click="changeView('month', siteCalendar)">Month</button>
            </div>
        </div>

        <div class="calendar" ng-model="eventSources" calendar="siteCalendar" ui-calendar="uiConfig.calendar"></div>

</div>