<p ng-hide="currentUser" class="muted text-warning">
    Please log in.
</p>


<div class="container" ng-show="currentUser">
    <div class="page-header">
        <h2 message-label data-ng-json='{"alias" : "chat"}' data-ng-bind="default-pages.title">Class Chatroom</h2>
    </div>
    <div class="panel panel-success">
        <div class="panel-body">
            <ul autoscroll-list id="chatbox" class="col-md-12">
                <li ng-repeat="message in messages">
                    <strong>{{ message.sender }}: </strong> {{ message.message }}
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <form class="form-inline" role="form" ng-submit="sendMessage();">
                <div class="input-group input-group-lg">
                    <span id="send-user" class="input-group-addon">{{currentUser.username}}:</span>
                    <input type="text" id="message" class="form-control"/>
                    <span id="send-btn" class="input-group-addon" ng-click="sendMessage();">Send</span>
                </div>
            </form>
        </div>
    </div>
</div>
