<div class="user-list">
    <div class="post" ng-repeat="user in directory.users">
        <div class="role">@{{user.firstName}} {{user.lastName}}</div>
        <div class="userName"><a ng-href="/#/profile?user={{user.userName}}">@{{user.userName}}</a></div>
        <div class="role">@{{user.role}}</div>
    </div>
</div>
<button class="btn btn-link load-more-btn" ng-show="directory.moreToLoad" ng-click="directory.loadUsers()">Show more</button>