<div class="feed-list list-group">
    <div class="post list-group-item" ng-repeat="post in feed.posts">
        <div class="author"><a ng-href="/#/profile?user={{post.creatorName}}">@{{post.creatorName}}</a></div>
        <div dpd-message-for="post"></div>
        <div class="post-time"></div>
    </div>
</div>
<button class="btn btn-link btn-success load-more-btn" ng-show="feed.moreToLoad" ng-click="feed.loadPosts()">Show more</button>