<p ng-hide="currentUser" class="text-warning">
    Please log in.
</p>
<div id="picasa-explorer" class="container" ng-show="currentUser">
    <div ng-show="currentAlbum" id="carousel-example-generic" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li ng-repeat="photo in currentAlbum" data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{active: $first}">

            </li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div ng-repeat="photo in currentAlbum" class="item photo-container" ng-class="{active : $first}">
                <img ng-src="{{ photo.url }}" alt="{{ photo.title }}" >
                <div class="container">

                    <div class="carousel-caption">
                        <h5>{{ photo.title }}</h5>
                        <p>{{ photo.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
            <span  class="glyphicon glyphicon-chevron-right"></span>
        </a>


    </div>

    <ul id="picasa-albums" class="media-list">
        <li ng-repeat="album in albums" class="media">
            <a class="pull-left" href="#">
                <img class="media-object" ng-src="{{ album.thumbnail }}"/>
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ album.title }}</h4>
                {{ album.description }}
            </div>
        </li>
    </ul>

    <div id="images"></div>
</div>