<nav class="navbar  navbar-fixed-top navbar-default" role="navigation">
    <div class="container col-md-12">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a message-label data-ng-bind="site.title" class="navbar-brand" href="/">[(dpd.site.title)]</a>
        </div>

        <div ng-show="userLoaded" class="navbar-collapse collapse" ng-controller="LoginCtrl">

            <ul ng-show="currentUser" class="nav navbar-nav" site-nav="highlight">
                <li ng-repeat="page in pages">
                    <a ng-href="{{page.location}}">
                        <span ng-class="'glyphicon {{page.glyphIcon}}'"></span>
                        <span>{{page.navTitle}}</span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="currentUser">
                <li class="dropdown navbar-right">
                    <!--<div class="">-->
                        <a href class="dropdown-toggle" data-toggle="dropdown">
                            @{{currentUser.username}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/#!/profile.html">Profile</a>
                            </li>
                            <li ng-show="isAdmin();">
                                <a href="/#!/setup.html">Setup</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href ng-click="logout()">Logout</a></li>
                        </ul>
                    <!--</div>-->
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right " ng-hide="currentUser">
                <li>
                    <form class="navbar-form" ng-hide="currentUser"ng-submit="login();">
                        <div class="form-group">
                            <input type="text" placeholder="@username" class="form-control" ng-model="username"/>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="password" class="form-control" ng-model="password"/>
                        </div>
                        <button type="submit" class="btn btn-success" >Sign In</button>
                        <a class="btn btn-primary" href="/#!/register.html">Sign Up</a>
                    </form>
                </li>
            </ul>

        </div>
    </div>
</nav>



