<p ng-hide="currentUser" class="muted">
    Please log in.
</p>

<div class="feed" ng-show="currentUser">
    <h2>@{{username}}'s feed</h2>
    <ul class="nav nav-tabs">
        <li ng-class="{active: feedName == 'posts'}"><a href ng-click="switchFeeds('posts')">Posts</a></li>
        <li ng-class="{active: feedName == 'mentions'}"><a href ng-click="switchFeeds('mentions')">Mentions</a>
        </li>
    </ul>
    <ng-include src="'/partials/feed.html'"></ng-include>
</div>

