<h1>Sign up</h1>
<div class="signin-form row">

    <form class="col-md-5" ng-submit="register()" role="form">
        <p ng-show="showError" class="text-error" id="register-error" ng-bind="errorMessage">{{errorMessage}}</p>

        <div class="form-group">
            <label class="sr-only" for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" ng-model="username" required
                   ng-required="true" placeholder="User Name"/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="studentId">Student Id</label>
            <input type="text" class="form-control" name="studentId" id="studentId" ng-model="assignedId" required
                   ng-required="true" placeholder="Student Id"/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="emailAddress">Email</label>
            <input type="email" class="form-control" name="emailAddress" id="emailAddress" ng-model="emailAddress"
                   ng-required="true" placeholder="Email Address"/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="firstName">First</label>
            <input type="text" class="form-control" name="firstName" id="firstName" ng-model="firstName" placeholder="First Name"/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="lastName">Last</label>
            <input type="text" class="form-control" name="lastName" id="lastName" ng-model="lastName" placeholder="Last Name"/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" ng-model="password"
                   ng-required="true" placeholder="Password" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="passwordConfirm">Confirm Password</label>
            <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" ng-model="confirmPassword" ng-required="true" placeholder="Confirm Password"/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Sign up</button>
            <a href="/" ng-href="{{referrer}}" class="btn btn-link">cancel</a>
        </div>
    </form>
</div>

