<p ng-hide="isAdmin();" class="muted text-warning">
    Please log in as admin.
</p>


<div class="update-page-form row" ng-show="isAdmin();">
    <h1>Setup {{page.alias}}-module</h1>
    <form class="col-md-12" ng-submit="savePage(page) " role="form">
        <p ng-show="showError" class="text-error" id="register-error" ng-bind="errorMessage">{{errorMessage}}</p>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-checked="page.enabled" ng-model="page.enabled" /> Enabled
            </label>
        </div>
        <div class="form-group">
            <label class="" for="title">Page Title</label>
            <input type="text" class="form-control" name="title" id="title" ng-model="page.title" required
                   ng-required="true" placeholder="Page Title"/>
        </div>
        <div class="form-group">
            <label class="" for="title">Navigation Title</label>
            <input type="text" class="form-control" name="navigation-title" id="navigation-title" ng-model="page.navTitle" required
                   ng-required="true" placeholder="Navigation Title"/>
        </div>

        <div class="form-group">
            <textarea  ui-tinymce="tinymceOptions"  ng-model="page.content"></textarea>
        </div>

        <div ng-show="canEditAlias" class="form-group">
            <label class="sr-only" for="alias">Alias</label>
            <input type="text" class="form-control" name="alias" id="alias" ng-model="page.alias" required
                   ng-required="true" placeholder="Page Alias"/>
        </div>

        <div>
            <button class="btn btn-primary" ng-click="savePage(page)">Save</button>
        </div>
    </form>
</div>

