<div style="margin-top: 75px" id="carousel-page-setup" class="carousel slide" data-interval="false">
    <!-- Indicators -->
    <ol delegate="handleIndicator" delegate-event="click" delegate-selector="li" class="nav nav-tabs">
        <li ng-repeat="page in pages" data-target="#carousel-page-setup" data-slide-to="{{$index}}" ng-class="{active: $first}">
            <a href="">
                <span ng-class="'glyphicon {{page.glyphIcon}}'"></span>
                <span>{{page.alias}}</span>
            </a>
        </li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div ng-repeat="page in pages" class="item container" ng-class="{active : $first}">
            <ng-include src="'partials/setup-page.html'" ng-controller="PageSetupController"></ng-include>
        </div>
    </div>

</div><!-- /.carousel -->