<p ng-hide="currentUser" class="muted text-warning">
    Please log in.
</p>

<div class="todo container" ng-cloak ng-show="currentUser">
    <div class="page-header">
        <h2 message-label data-ng-json='{"alias" : "todo"}' data-ng-bind="default-pages.title">Todos</h2>
    </div>

    <p id="empty" ng-hide="todos.length || !loaded">You don't have any todos! Add one now:</p>
    <form role="form">
        <ul id="todos" class="list-group">
            <li ng-repeat="todo in todos" class="list-group-item ">
                <div class="checkbox">

                    <label>
                        <input type="checkbox" ng-model="todo.completed" ng-change="changeCompleted(todo)"/> {{todo.title}}
                    </label>
                </div>
            </li>
        </ul>
    </form>
    <form class="form-inline">
        <input id="todo-title" type="text" ng-model="newTodoTitle"/>
        <button id="add-btn" class="btn btn-success" ng-click="addTodo(newTodoTitle)">Add</button>
    </form>
    <p>
        <a href id="remove-completed-btn" ng-click="removeCompletedItems()">Remove completed items</a>
    </p>
</div>

