<div class="jumbotron">
    <h1 message-label data-ng-json='{"alias" : "welcome"}' data-ng-bind="default-pages.title">
        [(dpd.welcome.title)]</h1>
    <div class="container">
        <p message-label ng-show="currentUser" data-ng-json='{"alias" : "welcome"}' data-ng-bind="default-pages.content">
            [Welcome! Write a message about your site.]
        </p>

        <p ng-hide="currentUser" class="muted">
            Please log in.
        </p>
    </div>
</div>
<div class="posts" ng-show="currentUser">
    <div ng-include src="'partials/feed.html'" ng-controller="FeedController"></div>
</div>

